
.vs/CMake Overview

.vs/cmake.db

.vs/pivx-gui/v16/.suo

.vs/pivx-gui/v16/Browse.VC.db

.vs/pivx-gui/v16/ipch/AutoPCH/b3ef229bc98d174b/CHAINPARAMS.ipch

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
