# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=YieldStakingWallet Core
Comment=YieldStakingWallet Core QT test network
GenericName=YieldStakingWallet Digital Currency QT client testnet network
Exec=yieldstakingwallet-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/yieldsakingwallet_testnet.png
MimeType=x-scheme-handler/ysw;
Categories=X-Office;X-Finance;
Keywords=internet;yieldstakingwallet;zysw;tysw;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
